*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    background: #eff0f4;
    overflow-x: hidden;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}
.container .drop1{
    position: relative;
    height: 315px;
    width: 315px;
    padding: 83px;
    margin: 35px;
    transition: 1s;
    box-shadow: inset 20px 20px 20px rgb(0,0,0,0.05),
    25px 35px 20px rgb(0,0,0,0.05),
    25px 30px 30px rgb(0,0,0,0.05)
    ;
    text-align: center;
}
.container .drop2{
    position: relative;
    right: 15px;
    top: -10px;
    height: 315px;
    width: 315px;
    margin: 55px;
    transition: 1s;
    box-shadow: inset 20px 20px 20px rgb(0,0,0,0.05),
    25px 35px 20px rgb(0,0,0,0.05),
    25px 30px 30px rgb(0,0,0,0.05);
   text-align: center;
   padding: 83px;
   margin: 20px;
    
}
.container .drop3{
    
    position: relative;
    right: 13px;
    height: 315px;
    top: -25px;
    width: 315px;
    transition: 1s;
    box-shadow: inset 20px 20px 20px rgb(0,0,0,0.05),
    25px 35px 20px rgb(0,0,0,0.05),
    25px 30px 30px rgb(0,0,0,0.05)
    ;
    text-align: center;
    padding: 80px;
}
.container .drop1
{
 border-radius: 
 41% 59% 65% 35% / 47% 40% 60% 53% ;
}
.container .drop2
{
 border-radius:51% 49% 31% 69% / 59% 52% 48% 41%  ;
}
.container .drop3
{
 border-radius:50% 50% 31% 69% / 46% 36% 64% 54% ;
}

.container .drop1:hover,.drop2:hover,.drop3:hover{
    border-radius: 50%;
    cursor: pointer;
}
.container 
.drop1::before,
.drop2::before,
.drop3::before{
    content: '';
    position:absolute;
    top: 53px;
    left: 55px;
    width: 35px;
    height: 35px;
    background: #FFF;
    border-radius: 50%;
    opacity: 0.9;
}
.container 
.drop1::after,
.drop2::after,
.drop3::after{
    content: '';
    position:absolute;
    top: 93px;
    left: 85px;
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 50%;
    opacity: 0.9;
}

button{
    margin: 12px;
    padding: 10px;
    
    color: white;
    border: none;
}
.btn1{
    border-radius: 40px;
    background-color: rgb(175, 8, 125);
    box-shadow: 4px 4px 7px rgb(183, 64, 130)
}

.btn2{
    border-radius: 40px;
    background-color: rgb(144, 106, 205);
    box-shadow: 4px 4px 7px rgb(83, 71, 118)
}

.btn3{
    border-radius: 40px;
    background-color: rgb(28, 166, 92);
    box-shadow: 4px 4px 7px rgb(30, 77, 43)
}
.btn1:hover,.btn2:hover,.btn3:hover{
    width: 7vw;
    transition: 2s;
    cursor: pointer;
}




